.container {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: steelblue;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 55rem;
  margin: auto;
  border-radius: 12px;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.hn{
  background-color: rgb(189, 224, 255);
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.596);
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.hn:active {
  transform: scale(0.95); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(65, 97, 126);
}