.container, .item{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.item{
  margin: 2rem auto;
  padding: 10px;
  background-color: steelblue;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.596);
}

.QRCode{
  /* box-shadow: 0 10px 20px rgba(224, 224, 224, 0.596); */
  border: 5px solid rgb(135, 201, 255);
  border-radius: 12px;
}

